body{
  background-color:white;
}

.main{

align-items: center;
position:fixed;
background-color:rgb(38, 55, 110);
display: flexbox;
width: 30%;
margin-left:30%;
margin-top: 30px;
height: fit-content;
border-radius: 5px;
border: solid black;

}

#i1
{

  height: 68px;
  width:84%;
  margin-left:19px;
  border-radius: 10px;
  background-color: rgb(3, 3, 36);
  color: white;
  font-size: 30px;
  text-align: right;
}

.buttons
{

display:block;
width: 82%;
padding:2%;
margin: 5%;
background-color: rgb(8, 32, 58);
border-radius:10px ;
}

.b1{
   height:auto;
   align-items: center;
   align-self: center;
   width:20%;
   padding: 12px;
   border-radius: 10px;
   margin: 3px;
   font-weight: bolder ;
   font-size: 20px;
   border: outset;
}
.b2
{
  height:50px ;
  width: 145px;
  background-color:dodgerblue ;
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  color: white;
}
.b2:hover{
background-color:red;
}
.b1:hover{
background-color:rgb(92, 158, 245);
}
.b3
{
  height:50px ;
  width: 145px;
  background-color:orangered;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  color: white;
}
.b3:hover{
background-color:green;
}

@media only screen and (max-width: 750px) {
  body {
    background-color: lightblue;
  }
  
.main{

  align-items: center;
  position:fixed;
  background-color:rgb(38, 55, 110);
  display: flexbox;
  width: 80%;
  margin-left:10%;
  margin-top: 20px;
  height:fit-content;
  border-radius: 5px;
  border: solid black;
  
  }
  
  #i1
    {
  
      height: 68px;
      width:84%;
      margin-left:19px;
      border-radius:10px;
      background-color: rgb(3, 3, 36);
      color: white;
      font-size: 30px;
      text-align: right;
    }
  
  .buttons
  {
   display: inline-block;
   width: 80%;
   padding:10px;
   margin: 16px;
   height:fit-content;
   background-color: rgb(8, 32, 58);
   border-radius:10px ;
  }
  
  .b1{
       height: 18%;
       width:21.9%;
       
       border-radius: inheri;
       margin: 2px;
       font-weight: bolder ;
       font-size: 15px;
       border: outset;
  }
  .b2
  {
      height:20% ;
      width: 46%;
      background-color:dodgerblue ;
      border-radius: 10px;
      margin: 3px;
      padding: 10px;
      color: white;
  }
  .b3
  {
      height:20%;
      width: 46%;
      background-color:orangered;
      border-radius: 10px;
      margin: 4px;
      padding: 10px;
      color: white;
  }
}